body {
	background-color: whitesmoke;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: white;
	box-shadow: 0 10px 30px rgba(10, 30, 96, 0.2);
}

.h1-h {
	background-color: blue;
	color: white;
	padding: 10px 10px;
	font-size: 50px;
	width: 180px;
	cursor: default;
}

.header-buttons {
	margin: 10px;
	position: absolute;
	top: 5px;
	right: 10px;
}

.btn {
	background-color: white;
	color: blue;
	width: 150px;
	height: 80px;
	font-size: 20px;
	border-radius: 15px;
	margin: 18px;
	border: none;
}

.btn:hover {
	background-color: blue;
	color: white;
	cursor: pointer;
}

.div-center-id {
	margin-top: 180px;
	text-align: center;
}

.h-font {
	text-align: center;
	font-size: 35px;
}

.btn-test {
	background-color: blue;
	color: red;
	display: inline-block;
	padding: 50px 50px;
	height: 500px;
	font-size: 35px;
	border-radius: 25px;
	border: none;
	box-shadow: 0 10px 30px rgba(10, 30, 96, 2);
	margin: 20px;
}

.btn-test:hover {
	transform: scale(1.05);
	cursor: pointer;
}

.center-web {
	text-align: center;
}

.img-vt {
	width: 290px;
	height: 250px;
	border: 1px solid black;
}

.footer {
	background-color: black;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
}

.h2 {
	color: red;
}

a {
	font-size: 28px;
	margin: 10px;
	text-decoration: none;
	color: blue;
}

a:hover {
	color: blue;
	text-decoration: underline;
}

.fixed-div-one {
	position: fixed;
	background-color: blue;
	color: white;
	bottom: 20px;
	right: 40px;
	width: 100px;
	text-align: center;
	border-radius: 10px;
	border: none;
	cursor: pointer;
	font-size: 17px;
	box-shadow: 0 10px 30px rgba(10, 30, 96, 2);
}

.fixed-div-one:hover {
	transform: scale(1.03);
}

.btn-subject {
	background-color: #000080;
	color: white;
	font-size: 45px;
	width: 300px;
	height: 250px;
	border-radius: 15px;
	border: none;
	margin: 10px;
	box-shadow: 0 10px 30px rgba(10, 30, 96, 2);
}

.btn-subject:hover {
	transform: scale(1.04);
	cursor: pointer;
}

.btn-game {
	background-color: green;
	color: white;
	width: 400px;
	height: 50px;
	border: none;
	border-radius: 8px;
	font-size: 26px;
}

.btn-game:hover {
	transform: scale(1.03);
	cursor: pointer;
}