@media(max-width: 480px) {
	.header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 130px;
		background-color: white;
		text-align: center;
	}

	.h1-h {
		background-color: blue;
		color: white;
		text-align: center;
		font-size: 30px;
		width: 430px;
		cursor: default;
	}

	.header-buttons {
		margin: 10px;
		position: absolute;
		top: 60px;
		text-align: center;
		left: 20px;
		right: 20px;
	}

	.btn {
		background-color: white;
		color: blue;
		width: 80px;
		height: 40px;
		font-size: 14px;
		border-radius: 15px;
		margin: 10px;
		border: none;
	}

	.btn:hover {
		background-color: blue;
		color: white;
		cursor: pointer;
	}

	.div-center-id {
		margin-top: 160px;
		text-align: center;
	}

	.h-font {
		text-align: center;
		font-size: 30px;
	}

	.btn-test {
		background-color: blue;
		color: red;
		display: inline-block;
		font-size: 35px;
		border-radius: 25px;
		border: none;
		margin: 15px;
	}

	.btn-test:hover {
		transform: scale(1.03);
		cursor: pointer;
	}

	.center-web {
		text-align: center;
	}

	.img-vt {
		width: 250px;
		height: 220px;
		border: 1px solid black;
	}

	.footer {
		background-color: black;
		position: absolute;
		left: 0;
		right: 0;
		height: 270px;
		text-align: center;
	}

	.h2 {
		color: red;
	}

	a {
		font-size: 28px;
		margin: 10px;
		text-decoration: none;
	}

	a:hover {
		color: blue;
		text-decoration: underline;
	}

	.fixed-div-one {
		position: fixed;
		width: 100%;
		background-color: white;
		color: blue;
		bottom: 1px;
		left: 1px;
		text-align: center;
		border-radius: 1px;
		border: none;
		cursor: pointer;
		font-size: 14px;
	}

	.fixed-div-one:hover {
		transform: scale(1.03);
	}
}

@media(max-width: 600px) {
	.header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 150px;
		background-color: white;
		text-align: center;
	}

	.h1-h {
		background-color: blue;
		color: white;
		text-align: center;
		font-size: 30px;
		width: 95%;
		height: 40px;
		cursor: default;
	}

	.header-buttons {
		margin: 10px;
		position: absolute;
		top: 60px;
		text-align: center;
		left: 20px;
		right: 20px;
	}

	.btn {
		background-color: white;
		color: blue;
		width: 80px;
		height: 40px;
		font-size: 14px;
		border-radius: 15px;
		margin: 10px;
		border: none;
	}

	.btn:hover {
		background-color: red;
		color: white;
		cursor: pointer;
	}
}

@media(max-width: 700px) {
	.header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 140px;
		background-color: white;
		text-align: center;
	}

	.h1-h {
		background-color: blue;
		color: white;
		text-align: center;
		font-size: 30px;
		width: 95%;
		cursor: default;
	}

	.header-buttons {
		margin: 10px;
		position: absolute;
		top: 60px;
		text-align: center;
		left: 20px;
		right: 20px;
	}

	.btn {
		background-color: white;
		color: blue;
		width: 100px;
		height: 50px;
		font-size: 15px;
		border-radius: 15px;
		margin: 10px;
		border: none;
	}

	.btn:hover {
		background-color: blue;
		color: white;
		cursor: pointer;
	}
}

@media(max-width: 800px) {
	.header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		display: inline-block;
		background-color: white;
		text-align: center;
	}

	.h1-h {
		background-color: blue;
		color: white;
		text-align: left;
		font-size: 30px;
		width: 95%;
		cursor: default;
	}

	.header-buttons {
		margin: 10px;
		position: absolute;
		top: 10px;
		text-align: right;
		left: 20px;
		right: 20px;
	}

	.btn {
		background-color: blue;
		color: white;
		width: 110px;
		height: 40px;
		font-size: 14px;
		border-radius: 15px;
		margin: 10px;
		border: none;
	}

	.btn:hover {
		background-color: white;
		color: blue;
		cursor: pointer;
	}
}

@media(max-width: 900px) {
	.header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 220px;
		background-color: white;
		text-align: center;
	}

	.h1-h {
		background-color: blue;
		color: white;
		text-align: center;
		font-size: 35px;
		width: 97%;
		cursor: default;
		display: inline-block;
	}

	.header-buttons {
		margin: 10px;
		position: absolute;
		top: 75px;
		text-align: center;
		left: 20px;
		right: 20px;
	}

	.btn {
		background-color: white;
		color: blue;
		width: 300px;
		height: 45px;
		font-size: 18px;
		border-radius: 15px;
		margin: 10px;
		border: none;
	}

	.btn:hover {
		background-color: blue;
		color: white;
		cursor: pointer;
	}
	.div-center-id {
		margin-top: 230px;
		text-align: center;
	}

}

@media(max-width: 950px) {
	.btn {
		width: 140px;
	}
}