body {
	background-color: whitesmoke;
	font-family: Helvetica;
	text-align: center;
}

.center-div {
	margin-top: 160px;
	display: inline-block;
	background-color: white;
	padding: 30px;
	box-shadow: 0 10px 30px rgba(10, 30, 96, 2);
	border-radius: 20px;
}

.center-div h2 {
	color: blue;
}

.center-div a {
	color: grey;
	font-size: 21px;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.btn {
	background-color: green;
	color: white;
	border-radius: 20px;
	padding: 15px;
	border: none;
	font-size: 18px;
}