@media(max-width: 480px) {
	.center-id {
		text-align: center;
		margin-top: 70px;
	}
	.input-box {
		width: 410px;
		height: 550px;
	}

	label {
		font-size: 24px;
	}

	input {
		width: 290px;
		height: 40px;
		font-size: 16px;
	}

	.id-left {
		width: 290px;
		text-align: left;
	}

	.h-pro {
		padding: 19px 19px;
		display: inline-block;
	}

	.btn-kirish {
		background-color: blue;
		color: white;
		font-size: 18px;
		width: 300px;
		height: 37px;
		cursor: pointer;
	}

	a {
		font-size: 22px;
		margin: 10px;
		text-decoration: none;
		color: grey;
	}

	a:hover {
		text-decoration: underline;
	}
}