body {
	background-color: whitesmoke;
	font-family: Helvetica;
}

.header {
	background-color: blue;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.svg-1 {
	width: 40px;
	height: 40px;
	color: white;
	position: absolute;
	top: 20px;
	left: 10px;
}

.svg-2 {
	width: 40px;
	height: 40px;
	color: white;
	position: absolute;
	top: 20px;
	right: 60px;
}

.svg-3 {
	width: 40px;
	height: 40px;
	color: white;
	position: absolute;
	top: 20px;
	right: 10px;
}

svg:hover {
	background-color: white;
	color: blue;
	border-radius: 10px;
}

.center-div {
	text-align: center;
	margin-top: 130px;
}

.btn-1 {
	background-color: white;
	color: blue;
	margin: 15px;
	padding: 40px;
	font-size: 70px;
	border: none;
	border-radius: 20px;
	box-shadow: 0 10px 30px rgba(10, 30, 96, 2);
	cursor: pointer;
}
.btn-1:hover {
	background-color: blue;
	transform: scale(1.03);
	color: red;
}

.center-div p {
	color: red;
}

@media(max-width: 480px) {
	.header {
		background-color: blue;
		color: white;
		position: absolute;
		top: 10px;
		left: 0;
		right: 0;
		text-align: center;
	}

	.svg-1 {
		width: 30px;
		height: 30px;
		color: white;
		position: absolute;
		top: 20px;
		left: 10px;
	}

	.svg-2 {
		width: 30px;
		height: 30px;
		color: white;
		position: absolute;
		top: 20px;
		right: 60px;
	}

	.svg-3 {
		width: 30px;
		height: 30px;
		color: white;
		position: absolute;
		top: 20px;
		right: 10px;
	}

	svg:hover {
		background-color: white;
		color: blue;
		border-radius: 10px;
	}
}