body {
	background-color: whitesmoke;
}

.div-center {
	background-color: white;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	color: red;
	font-size: 20px;
}

.btn-beck {
	color: blue;
	position: absolute;
	top: 40px;
	left: 10px;
	font-size: 30px;
	background-color: white;
	border: none;
}

.btn-beck:hover {
	transform: scale(1.06);
	color: red;
	cursor: pointer;
}

.div-buttons {
	margin-top: 170px;
	text-align: center;
}

.btn-btn {
	background-color: white;
	color: blue;
	width: 400px;
	height: 200px;
	margin: 10px;
	border-radius: 20px;
	border: none;
	font-size: 30px;
	box-shadow: 0 10px 30px rgba(10, 30, 96, 2);
	cursor: pointer;
}

.btn-btn:hover {
	transform: scale(1.06);
	cursor: pointer;
}

.btn-two {
	background-color: red;
	color: white;
	width: 200px;
	height: 40px;
	font-size: 19px;
	margin: 10px;
	border: none;
	border-radius: 10px;
	box-shadow: 0 1px 30px rgba(10, 30, 96, 2);
}

.btn-two:hover {
	transform: scale(1.06);
	cursor: pointer;
}

.p-1 {
	color: green;
	font-size: 20px;
	text-align: center;
}