body {
	background-color: whitesmoke;
	padding: 0;
	margin: 0;
	font-family: Helvetica;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

* {
	font-family: sans-serif;
}

.div-center {
	text-align: center;
}

.inline h1 {
	font-size: 90px;
}

.inline {
	background-color: white;
	color: blue;
	padding: 30px;
	border-radius: 15px;
	border: none;
	box-shadow: 4px 20px 40px black;
}

.inline p {
	color: blue;
	font-size: 21px;
	font-weight: bold;
}

button {
	background: linear-gradient(#0070ff);
	padding: 13px 70px;
	font-size: 17px;
	font-weight: bold;
	border-radius: 15px;
	border: none;
	color: whitesmoke;
	cursor: pointer;
	transition: all 0.5s ease;
}

button:hover {
	transform: scale(1.08);
}









