body {
	background-color: whitesmoke;
}

.header {
	background-color: white;
	color: blue;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
	box-shadow: 0 1px 30px rgba(10, 30, 96, 2);
}

p {
	font-size: 25px;
	margin-top: 150px;
	text-align: center;
}

a {
	font-size: 20px;
	text-decoration: none;
	color: blue;
}

a:hover {
	color: green;
	text-decoration: underline;
}